<!-- templates/login.html-->

<html>

<head>
	<title>Machine Learning Project</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <img src="static/styles/pretrained_confusion_matrix.png">
    <p>
        Here you can train a model of your own or use a premade model.

        The data is of patients and death events due to heart failure. 
        <br>
        <h3>List of Features</h3>
        age: Age of the subject <br>
        anaemia: Decrease of red blood cells or hemoglobin (boolean) <br>
        creatinine_phosphokinase: Level of the CPK enzyme in the blood (mcg/L) <br>
        diabetes: If the patient has diabetes (boolean) <br>
        ejection_fraction: Percentage of blood leaving the heart at each contraction (percentage) <br>
        high_blood_pressure: If the patient has hypertension (boolean) <br>
        platelets: Platelets in the blood (kiloplatelets/mL) <br>
        serum_creatinine: Level of serum creatinine in the blood (mg/dL) <br>
        serum_sodium: Level of serum sodium in the blood (mEq/L) <br>
        sex: Woman or man (binary) <br>
        smoking: If the patient smokes or not (boolean) <br>
        time: Follow-up period (days) <br>
        DEATH_EVENT: If the patient deceased during the follow-up period (boolean) <br>
    </p>
    <form method="POST"
    action="{{ url_for('pretrained_model') }}">

        <button type="submit">Use pretrained model</button>
    </form>
    <form method="POST"
    action="{{ url_for('train_own_model') }}">

        <button type="submit">Train your own</button>
    </form>
    
</body>

</html>
