<!-- templates/login.html-->

<html>

<head>
	<title>Machine Learning Project</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <img src="static/styles/pretrained_confusion_matrix.png">
    <p>
        Here you can train a model of your own or use a premade model.

        The data is of patients and death events due to heart failure. 
        <br>
        <h3>List of Features</h3>
        Age: Age of the subject <br>
        Anaemia: Decrease of red blood cells or hemoglobin (boolean) <br>
        Creatinine Phosphokinase: Level of the CPK enzyme in the blood (mcg/L) <br>
        Diabetes: If the patient has diabetes (boolean) <br>
        Ejection Fraction: Percentage of blood leaving the heart at each contraction (percentage) <br>
        High Blood Pressure: If the patient has hypertension (boolean) <br>
        Platelets: Platelets in the blood (kiloplatelets/mL) <br>
        Serum Creatinine: Level of serum creatinine in the blood (mg/dL) <br>
        Serum Sodium: Level of serum sodium in the blood (mEq/L) <br>
        Sex: Woman or man (binary) <br>
        Smoking: If the patient smokes or not (boolean) <br>
        Time: Follow-up period (days) <br>
        Death Event: If the patient deceased during the follow-up period (boolean) <br>
    </p>
    <form method="POST"
    action="{{ url_for('pretrained_model') }}">

        <button type="submit">Use pretrained model</button>
    </form>
    <form method="POST"
    action="{{ url_for('train_own_model') }}">

        <button type="submit">Train your own</button>
    </form>
    
</body>

</html>
