<!-- templates/login.html-->

<html>

<head>
	<title>Machine Learning Project</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <img src="static/styles/pretrained_confusion_matrix.png">
    <p>
        Here you can train a model of your own or use a premade model.

        The dataset I chose is of student lifestyles and how that affects stress Level. 
        <br>
        <h3>List of Features</h3>
        Study Hours Per Day<br>
        Extracurricular Hours Per Day<br>
        Sleep Hours Per Day<br>
        Social Hours Per Day<br>
        Physical Activity Hours Per Day<br>
        GPA<br>
        Stress Level<br>


    </p>
    <form method="POST"
    action="{{ url_for('pretrained_model') }}">

        <button type="submit">Use pretrained model</button>
    </form>
    <form method="POST"
    action="{{ url_for('train_own_model') }}">

        <button type="submit">Train your own</button>
    </form>
    
</body>

</html>
