<html>
<head>
	<title>Machine Learning Project</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
	<div>
		<h1>Predict</h1>
        <img src="static/{{model.split('.')[0]}}.png">

        <p>Model trained using: <b>{{model_type}}</b>.</p>
		<form method="POST"
			action="{{ url_for('get_prediction') }}">
            {% for feature in features %}
                <input type="number" name="{{feature}}" id="{{feature}}" value="{{feature}}", step="0.01">
                <label>{{feature.replace("_", " ")}}</label><br><br>
            {% endfor %}
            <input type="hidden" name="model" value="{{model}}">
        <button type="submit">Get Prediction</button>

		</form>
	</div>

</body>

</html>
