<html>
<head>
	<title>Machine Learning Project</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<div>
		<h1>Model</h1>
		<form method="POST"
			action="{{ url_for('predict_pretrained') }}">
            {% for part in data %}
                <input type="number" name="{{part['featureName']}}" id="{{part['featureName']}}" value="{{part['featureName']}}", step="0.01">
                <label>{{part['formattedFeatureName']}}</label><br><br>
            {% endfor %}
        <button type="submit">Get Prediction</button>

		</form>
	</div>

</body>

</html>
