<html>
<head>
	<title>Machine Learning Project</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<div>
		<h1>Model</h1>
		<form method="POST"
			action="{{ url_for('predict') }}">
            {% for part in data %}
            {% if part['featureType'] == 'int' %}
                <input type="number" name="{{part['featureName']}}" id="{{part['featureName']}}" value="{{part['featureName']}}">
                <label>{{part['featureName']}}</label><br><br>
            {% elif part['featureType'] == 'bool' %}
                <input type="checkbox" name="{{part['featureName']}}" id="{{part['featureName']}}" value="{{part['featureName']}}">
                <label>{{part['featureName']}}</label><br><br>
            {% elif part['featureType'] == 'float' %}
                <input type="number" name="{{part['featureName']}}" id="{{part['featureName']}}" value="{{part['featureName']}}" step="0.01">
                <label>{{part['featureName']}}</label><br><br>
            {% elif part['featureType'] == 'other' %}
            {% else %}
                <input type="radio" name="sex" id="{{part['featureName']}}" value="female">
                <label>female</label><br><br>
                <input type="radio" name="sex" id="{{part['featureName']}}" value="male">
                <label>male</label><br><br>

            {% endif %} 
            {% endfor %}
        <button type="submit">Get Prediction</button>

		</form>
	</div>

</body>

</html>
