<html>
<head>
	<title>Machine Learning Project</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
	<div>
		<h1>Train New Model</h1>
		<form method="POST"
			action="{{ url_for('process_model') }}">
			<input type="text" name="model_name" id="model_name">
			<label for="model_name">Model Name</label><br>
			<H2>Select Features</H2>
			{% for feature in features %}
			<input type="checkbox"
				name="selected_features"
				id="{{feature['formattedFeatureName']}}"
				value="{{feature['featureName']}}">
				<label for="{{feature['formattedFeatureName']}}">{{feature['formattedFeatureName']}}</label><br>
			{% endfor %}
			<H2>Select Model</H2>
			<input type="radio" name="selected_model" id="Logistic Regression Classifier", value="Logistic Regression Classifier">
			<label for="Logistic Regression Classifier">Logistic Regression Classifier</label><br>
			<input type="radio" name="selected_model" id="Decision Tree Classifier" value="Decision Tree Classifier">
			<label for="Decision Tree Classifier">Decision Tree Classifier</label><br>
			<input type="radio" name="selected_model" id="Linear Discriminant Analysis" value="Linear Discriminant Analysis">
			<label for="Linear Discriminant Analysis">Linear Discriminant Analysis</label><br>
			<button type="train">Train</button>
		</form>
	</div>

</body>

</html>
