<html>
<head>
	<title>Machine Learning Project</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<div>
		<h1>Model</h1>
		<form method="POST"
			action="{{ url_for('process_model') }}">
			<H2>Select Features</H2>
			{% for feature in features %}
			<input type="checkbox"
				name="selected_features"
				id="{{feature['formattedFeatureName']}}"
				value="{{feature['featureName']}}">
				<label for="{{feature['formattedFeatureName']}}">{{feature['formattedFeatureName']}}</label><br>
			{% endfor %}
			<H2>Select Model</H2>
			<input type="radio" name="selected_model" id="logistic_regression_classifier", value="logistic_regression_classifier">
			<label for="logistic_regression_classifier">Logistic Regression Classifier</label><br>
			<input type="radio" name="selected_model" id="decision_tree_classifier" value="decision_tree_classifier">
			<label for="decision_tree_classifier">Decision Tree Classifier</label><br>
			<input type="radio" name="selected_model" id="linear_discriminant_analysis" value="linear_discriminant_analysis">
			<label for="linear_discriminant_analysis">Linear Discriminant Analysis</label><br>
			<button type="train">submit</button>
		</form>
	</div>

</body>

</html>
